
@import '../../../styles/mixins';

:host {
  display: inline-block;
  width: 64px;
  height: 64px;
  max-height: 64px;
  max-width: 64px;

  transform-origin: top left;

  .icon-container {
    display: inline-block;
    width: 64px;
    height: 64px;
    max-height: 64px;
    max-width: 64px;

    .icon {
      display: inline-block;
      width: 64px;
      height: 64px;
      max-width: 64px;
      max-height: 64px;

      object-fit: none;
      pointer-events: none;
      user-select: none;

      &.active {
        @include glow-around;
      }
    }
  }

  &.small {
    transform: scale(0.5);
  }

  &.xsmall {
    transform: scale(0.25);
  }
}
