<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true" id="combat-abilities">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col class="action-container">
          <ion-button class="action-button" id="abilitiesModal">
            Attack
          </ion-button>
        </ion-col>

        <ion-col class="action-container">
          <ion-button class="action-button">Move</ion-button>
        </ion-col>

        <ion-col class="action-container">
          <ion-button class="action-button" disabled>Item</ion-button>
        </ion-col>

        <ion-col class="action-container">
          <ion-button class="action-button">Run Away</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="fight">
        <ion-row *ngFor="let row of fight.tiles" class="tile-row">
          <ion-col *ngFor="let col of row; let i = index" class="tile-col">
            <div class="tile" [class.enemy]="i > 3" [class.friendly]="i <= 3">
              <div
                class="character-container"
                [class.small]="col.containedCharacters.length > 1"
                *ngFor="let char of col.containedCharacters"
              >
                <div class="health-bar">
                  <div
                    class="current-health"
                    [style.width]="(fightCharacters[char].health.current / fightCharacters[char].health.max * 100) + '%'"
                  ></div>
                </div>

                <div class="avatar-container">
                  <app-avatar
                    *ngIf="fightCharacters[char].userId"
                    [avatar]="fightCharacters[char].sprite"
                    size="small"
                    [padding]="0"
                    [noScale]="true"
                  ></app-avatar>

                  <app-monster-icon
                    *ngIf="fightCharacters[char].monsterId as monsterId"
                    [monster]="getMonster(monsterId)"
                  ></app-monster-icon>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="elements">
        <app-element-icon
          *ngFor="let element of elements"
          [element]="element"
          [count]="fight.generatedElements[element] || 0"
        ></app-element-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal
  trigger="abilitiesModal"
  [initialBreakpoint]="0.5"
  [breakpoints]="[0, 0.5, 1]"
>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Abilities</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="ability-list">
        <ion-item
          lines="none"
          class="ability"
          *ngFor="let ability of getAbilities()"
          (click)="selectAbility(ability)"
        >
          <app-combat-ability [ability]="ability"></app-combat-ability>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
