<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-card>
    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="fight">
        <ion-row *ngFor="let row of fight.tiles" class="tile-row">
          <ion-col *ngFor="let col of row; let i = index" class="tile-col">
            <div class="tile" [class.enemy]="i > 3" [class.friendly]="i <= 3">
              <div
                class="character-container"
                [class.small]="col.containedCharacters.length > 1"
                *ngFor="let char of col.containedCharacters"
              >
                <div class="health-bar">
                  <div
                    class="current-health"
                    [style.width]="(fightCharacters[char].health.current / fightCharacters[char].health.max * 100) + '%'"
                  ></div>
                </div>

                <div class="avatar-container">
                  <app-avatar
                    *ngIf="fightCharacters[char].userId"
                    [avatar]="fightCharacters[char].sprite"
                    size="small"
                    [padding]="0"
                    [noScale]="true"
                  ></app-avatar>

                  <app-monster-icon
                    *ngIf="fightCharacters[char].monsterId as monsterId"
                    [monster]="getMonster(monsterId)"
                  ></app-monster-icon>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="elements">
        <app-element-icon
          *ngFor="let element of elements"
          [element]="element"
          [count]="fight.generatedElements[element] || 0"
        ></app-element-icon>
      </div>
    </ion-card-content>
  </ion-card>

  {{ fight | json }}
</ion-content>
