
@media screen and (max-width: 1320px) {
  .fight {
    --tile-dimensions: 84px !important;
  }

  .character-container {
    transform: scale(calc(84 / 112));
  }
}

.fight-card {
  ion-card-content {
    padding-top: 4px;
    padding-bottom: 4px;

    min-height: calc(var(--tile-dimensions) * 4);
  }
}

.fight {
  position: relative;
  --tile-dimensions: 112px;

  .background {
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0.2;
    width: 100%;
    pointer-events: none;

    app-background-art {
      width: calc(var(--tile-dimensions) * 8);
      height: calc(var(--tile-dimensions) * 4);
    }
  }

  .tile-row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: var(--tile-dimensions);

    .tile-col {
      max-height: var(--tile-dimensions);
      max-width: var(--tile-dimensions);
      padding: 0;
    }
  }

  .tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--tile-dimensions);
    height: var(--tile-dimensions);
    border: 1px solid #fff;
    object-fit: contain;
    background-size: cover;

    .avatar-container.dead {
      filter: grayscale(100%);
    }

    &.tiny-characters {
      position: relative;

      &.two-characters {
        .character-container {
          position: absolute;
        }

        .character-container:nth-child(1) {
          top: 0;
          left: 0;
        }

        .character-container:nth-child(2) {
          bottom: 0;
          right: 0;
        }
      }

      .character-container {
        transform: scale(0.65);
      }
    }

    &.enemy {
      background-color: #400;

      .avatar-container {
        transform: scaleX(-1);
      }
    }

    &.friendly {
      background-color: #040;
    }

    &.glowing {
      --glow-color-start: #099;
      --glow-color-end: #0cc;

      cursor: pointer;

      animation: glow 1s ease-in-out infinite alternate;
    }

    @keyframes glow {
      0% {
        background-color: var(--glow-color-start);
      }

      100% {
        background-color: var(--glow-color-end);
      }
    }
  }
}

.elements {
  display: flex;
  justify-content: center;

  app-element-icon {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.avatar-container, .character-container {
  max-width: 64px;
  max-height: 64px;

  position: relative;
}

.letter-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;

  ion-badge {
    font-size: 10px;
    width: 17px;
    height: 17px;
    border-radius: 0;
    border: 1px solid #fff;
  }
}

.health-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 16px);
  height: 5px;

  border: 1px solid #fff;
  background: #fff;
  z-index: 10;

  .current-health {
    position: absolute;
    z-index: 11;
    background-color: #f00;
    height: 3px;
  }
}

.action-container {
  display: flex;
  justify-content: center;

  .action-button {
    width: 150px;
  }
}

.ability-modal {
  --padding-top: 16px;
}

.ability-list {
  --ion-background-color: transparent;
  --ion-item-background: transparent;
  overflow-y: auto;
  max-height: 574px;


  .ability {
    cursor: pointer;

    &:hover {
      background: #222;
    }
  }
}
