
.award-container {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(25px);

  color: #fff;

  border-radius: 4px;
  padding: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}
