

.avatar {
  width: 128px;
  height: 128px;

  display: flex;
  justify-content: center;
  align-items: center;

  app-icon {
    display: block;
    max-width: 128px;
    max-height: 128px;
  }

  &.small {
    width: 64px;
    height: 64px;
    transform: scale(0.5);

    &.no-scale {
      transform: scale(1);
    }
  }

  &.active {
    --glow-color-start: #033;
    --glow-color-end: #0ff;

    animation: glow 1s ease-in-out infinite alternate;

    filter: drop-shadow(1px 1px 0 var(--glow-color-start))
            drop-shadow(-1px 1px 0 var(--glow-color-start))
            drop-shadow(1px -1px 0 var(--glow-color-start))
            drop-shadow(-1px -1px 0 var(--glow-color-start));

    @keyframes glow {
      0% {
        filter: drop-shadow(1px 1px 0 var(--glow-color-start))
                drop-shadow(-1px 1px 0 var(--glow-color-start))
                drop-shadow(1px -1px 0 var(--glow-color-start))
                drop-shadow(-1px -1px 0 var(--glow-color-start));
      }

      100% {
        filter: drop-shadow(1px 1px 0 var(--glow-color-end))
                drop-shadow(-1px 1px 0 var(--glow-color-end))
                drop-shadow(1px -1px 0 var(--glow-color-end))
                drop-shadow(-1px -1px 0 var(--glow-color-end));
      }
    }
  }
}
