<ion-row [class.cooling-down]="cooldownRemaining > 0">
  <ion-col class="ability-image">
    <div class="ability-image-container">
      <app-icon spritesheet="skills" [sprite]="ability.sprite"></app-icon>
    </div>
  </ion-col>

  <ion-col>
    <h3 class="title">
      <span class="name">
        {{ ability.name }}
      </span>

      <app-element-icon
        *ngFor="let element of ability.generatedElements"
        [element]="element"
        [inline]="true"
      ></app-element-icon>

      <ion-badge class="type" color="tertiary" *ngIf="isPhysical">
        Physical
      </ion-badge>

      <ion-badge class="type" color="tertiary" *ngIf="isMagical">
        Magical
      </ion-badge>

      <ion-badge class="cd" color="secondary" *ngIf="ability.cooldown">
        CD {{ ability.cooldown }}
      </ion-badge>

      <span class="cooldown-timer" *ngIf="cooldownRemaining > 0">
        <ion-badge color="warning" class="ion-align-items-center">
          <app-game-icon
            class="icon"
            icon="combat-cooldown"
            size="small"
            cssColor="#000"
          ></app-game-icon>

          {{ cooldownRemaining }} turns
        </ion-badge>
      </span>
    </h3>

    <ion-row>
      <ion-col class="target-image">
        <div class="target-image-container">
          <ion-img
            [src]="'assets/combat/targetting/' + imageName + '.png'"
          ></ion-img>
        </div>
      </ion-col>

      <ion-col>
        <p class="ability-desc">
          {{ ability.description }}
          <strong>{{ abilityDamage() }} damage</strong>
        </p>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
