<ion-row>
  <ion-col class="target-image">
    <div class="target-image-container">
      <ion-img
        [src]="'assets/combat/targetting/' + imageName + '.png'"
      ></ion-img>
    </div>
  </ion-col>

  <ion-col>
    <h3 class="title">
      <span class="name">
        {{ ability.name }}
      </span>

      <app-element-icon
        *ngFor="let element of ability.generatedElements"
        [element]="element"
        [inline]="true"
      ></app-element-icon>

      <ion-badge class="cd" color="secondary" *ngIf="ability.cooldown">
        CD {{ ability.cooldown }}
      </ion-badge>

      <ion-badge class="ct" color="secondary" *ngIf="ability.castTime">
        CT {{ ability.castTime }}
      </ion-badge>
    </h3>

    <p>
      {{ ability.description }}
      <strong>{{ abilityDamage() }} damage</strong>
    </p>
  </ion-col>
</ion-row>
