
.target-image {
  max-width: 64px;

  .target-image-container {
    margin-top: 20px;
    max-height: 64px;
    background-color: #ccc;
    border-color: #000;
  }
}

.title {
  display: flex;
  align-items: center;

  .name, app-element-icon, .ct, .cd {
    margin-right: 5px;
  }

  .ct, .cd {
    font-size: 12px;
  }
}
