
.target-image {
  max-width: 48px;

  .target-image-container {
    max-height: 48px;
    background-color: #ccc;
    border-color: #000;
  }
}

.ability-image {
  max-width: 64px;
  margin-right: 12px;

  .ability-image-container {
    margin-top: 20px;
    max-height: 48px;
    border-color: #000;
  }
}

.ability-desc {
  margin: 0;
}

.title {
  display: flex;
  align-items: center;

  .name, app-element-icon, .ct, .cd, .type {
    margin-right: 5px;
  }

  .ct, .cd, .type {
    font-size: 12px;
  }

  .cooldown-timer {
    margin-left: auto;

    ion-badge {
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    .icon {
      margin-right: 5px;
    }
  }
}

.cooling-down {
  font-style: italic;
  opacity: 0.7;
  cursor: not-allowed;
}
