
.location-card {
  app-location-stats-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .description {
    min-height: 200px;
  }

  .locations, .collectibles {
    text-align: center;

    &.all-found {
      color: var(--ion-color-success);
    }
  }
}
