
.hero-container {
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-info {
    .username {
      font-size: 1.5rem;
    }

    .discriminator {
      font-size: 0.75rem;
      font-style: italic;
    }
  }

  .player-info {
    margin-top: 10px;
  }

  .currencies {
    margin-top: 8px;

    .coins {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .relevant-stats, .currencies {
    text-align: center;
  }
}
