
.hero-container {
  min-height: 230px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  app-background-art {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .user-info {
    .username {
      font-size: 1.5rem;
    }

    .discriminator {
      font-size: 0.75rem;
      font-style: italic;
    }
  }

  .player-info {
    margin-top: 10px;
  }

  .currencies {
    margin-top: 8px;

    .coins {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .relevant-stats, .currencies {
    text-align: center;
  }

  .username, .discriminator, .level, .coins {
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
  }
}
