<div class="hero-container">
  <app-background-art
    [sprite]="background"
    *ngIf="background !== -1"
  ></app-background-art>

  <app-avatar [avatar]="portrait"></app-avatar>

  <div class="user-info">
    <span class="username">
      {{ username }}
    </span>

    <span class="discriminator">#{{ discriminator }}</span>
  </div>

  <div class="player-info">
    <div class="relevant-stats">
      <span class="level">Level {{ level | number }} {{ job }}</span>
    </div>

    <div class="currencies" *ngIf="showCurrencies">
      <span class="coins icon-and-text-container">
        <app-game-icon
          cssColor="#daa520"
          [rounded]="true"
          [backgroundColor]="background === -1 ? '' : '#000'"
          icon="currency-coin"
        ></app-game-icon>
        {{ coins | number }} Coins
      </span>
      <span class="coins icon-and-text-container">
        <app-game-icon
          cssColor="#daa520"
          [rounded]="true"
          [backgroundColor]="background === -1 ? '' : '#000'"
          icon="currency-oat"
        ></app-game-icon>
        {{ oats | number }} Oats
      </span>
    </div>

    <div class="tagline" *ngIf="tagline">
      {{ tagline }}
    </div>
  </div>
</div>
