<div
  class="hero-container"
  *ngIf="{
    user: user$ | async,
    player: player$ | async,
    coins: playerCoins$ | async
  } as data"
>
  <div class="avatar">
    <ion-avatar (click)="changePortrait(data.player?.cosmetics?.portrait || 4)">
      <app-icon
        spritesheet="portraits"
        [sprite]="data.player?.cosmetics?.portrait || 4"
      ></app-icon>
    </ion-avatar>
  </div>

  <div class="user-info">
    <span class="username">
      <app-store-text storeKey="user.user.username"></app-store-text>
    </span>

    <span class="discriminator">
      #<app-store-text storeKey="user.user.discriminator"></app-store-text>
    </span>
  </div>

  <div class="player-info">
    <div class="relevant-stats">
      <span class="level"
        >Level {{ data.player?.level ?? 0 | number }}
        {{ data.player?.job }}</span
      >
      &middot;
      <span class="coins">{{ data.coins ?? 0 | number }} Coins</span>
    </div>
  </div>
</div>
