<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Equipment</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let equipment of armorSlots">
                <ng-container
                  *ngTemplateOutlet="equipmentRow; context: { slotKey: equipment.slot, slotName: equipment.name, inventory: inventory$ | async }"
                ></ng-container>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Accessories</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let equipment of accessorySlots">
                <ng-container
                  *ngTemplateOutlet="equipmentRow; context: { slotKey: equipment.slot, slotName: equipment.name, inventory: inventory$ | async }"
                ></ng-container>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template
  #equipmentRow
  let-slotKey="slotKey"
  let-slotName="slotName"
  let-inventory="inventory"
>
  <ion-label slot="start" *ngIf="!inventory.equippedItems[slotKey]">
    <em>nothing equipped in {{ slotName }} slot</em>
  </ion-label>

  <ion-row class="full-width" *ngIf="inventory.equippedItems[slotKey] as item">
    <ion-col class="icon">
      <app-item-icon [item]="item" size="small"></app-item-icon>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-col class="name">
          {{ item.name }} Lv.{{ item.levelRequirement }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-item-stats [item]="item"></app-item-stats>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-label class="itemslot" slot="end">
    <ion-badge>
      <em>{{ slotName }}</em>
    </ion-badge>

    <div *ngIf="inventory.equippedItems[slotKey] as item" class="unequip">
      <ion-button
        color="warning"
        size="small"
        fill="clear"
        (click)="unequipItem(slotKey, item.instanceId)"
      >
        Unequip
      </ion-button>
    </div>
  </ion-label>
</ng-template>
