<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ng-container
    *ngIf="{
    location: playerLocation$ | async,
    action: playerAction$ | async
  } as data"
  >
    <ion-grid>
      <ion-row>
        <ion-col
          sizeXs="12"
          sizeSm="12"
          sizeMd="8"
          sizeLg="8"
          offsetMd="2"
          offsetLg="2"
        >
          <ion-card class="content-card center-title-card italic-subtitle-card">
            <ion-card-header>
              <ion-card-title>
                Explore&nbsp;
                <app-store-text
                  storeKey="player.player.location.current"
                ></app-store-text>
              </ion-card-title>

              <ion-card-subtitle *ngIf="data.location?.goingTo">
                {{ data.location?.arrivesAt | number }} steps until {{
                data.location?.goingTo }}!
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <div class="action" *ngIf="data.action as actionInfo">
                <ion-card
                  class="wave-card action-card"
                  *ngIf="actionInfo.action === 'wave'"
                >
                  <ion-card-content>
                    <div class="intro">
                      You came across {{
                      actionInfo.actionData.player.profile.displayName }}! Would
                      you like to wave to them?
                    </div>

                    <div class="info full-width">
                      <ion-row>
                        <ion-col sizeXs="8">
                          <ion-row>
                            <ion-col sizeXs="4" class="action-avatar">
                              <app-avatar
                                [avatar]="actionInfo.actionData.player.profile.avatar ?? 4"
                                [padding]="0"
                              ></app-avatar>
                            </ion-col>

                            <ion-col sizeXs="8" class="action-center">
                              <div class="name">
                                {{
                                actionInfo.actionData.player.profile.displayName
                                }}
                              </div>
                              <div class="profession">
                                Level {{ actionInfo.actionData.player.level }}
                                {{ actionInfo.actionData.player.job }}
                              </div>
                              <div class="bio">
                                {{ actionInfo.actionData.player.profile.shortBio
                                }}
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-col>

                        <ion-col sizeXs="4" class="action-action">
                          <ion-button
                            color="secondary"
                            (click)="actionsService.doAction(actionInfo)"
                          >
                            {{ actionInfo.text }}
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-card-content>
                </ion-card>

                <ion-card
                  class="wave-card action-card"
                  *ngIf="actionInfo.action === 'waveconfirm'"
                >
                  <ion-card-content>
                    <div class="intro">
                      You waved at {{
                      actionInfo.actionData.player.profile.displayName }}!
                    </div>
                  </ion-card-content>
                </ion-card>

                <ion-card
                  class="item-card action-card"
                  *ngIf="actionInfo.action === 'item' || actionInfo.action === 'collectible'"
                >
                  <ion-card-content>
                    <div class="intro">
                      You came across
                      <strong>{{ actionInfo.actionData.item.name }}!</strong>
                      What would you like to do with it?
                    </div>

                    <div class="info full-width">
                      <ion-row>
                        <ion-col sizeXs="8">
                          <ion-row>
                            <ion-col sizeXs="4" class="action-avatar">
                              <app-item-icon
                                [item]="actionInfo.actionData.item"
                              ></app-item-icon>
                            </ion-col>

                            <ion-col sizeXs="8" class="action-center">
                              <div class="item-name">
                                {{ actionInfo.actionData.item.name }}
                              </div>

                              <div class="item-classification">
                                <app-item-rarity
                                  [item]="actionInfo.actionData.item"
                                ></app-item-rarity>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-col>

                        <ion-col sizeXs="4" class="action-action">
                          <ion-button
                            color="secondary"
                            (click)="actionsService.doAction(actionInfo)"
                          >
                            {{ actionInfo.text }}
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-card-content>
                </ion-card>

                <ion-card
                  class="item-card action-card"
                  *ngIf="actionInfo.action === 'takeconfirm'"
                >
                  <ion-card-content>
                    <div class="intro">
                      You took
                      <strong>{{ actionInfo.actionData.item.name }}!</strong>
                    </div>
                  </ion-card-content>
                </ion-card>
              </div>

              <div class="earned">
                <span class="xp">
                  <span
                    class="xp-value"
                    *ngIf="visualService.xp$ | async as xp"
                  >
                    +{{ xp }} XP
                  </span>
                </span>

                <span class="coin">
                  <span
                    class="coin-value"
                    *ngIf="visualService.coin$ | async as coin"
                  >
                    +{{ coin }} Coins
                  </span>
                </span>
              </div>

              <div class="explore-container">
                <ion-button
                  color="primary"
                  class="explore"
                  (click)="explore()"
                  [disabled]="!canExplore"
                >
                  <span *ngIf="canExplore">Go!</span>

                  <span *ngIf="!canExplore">
                    <ion-spinner></ion-spinner>
                  </span>
                </ion-button>

                <ion-progress-bar
                  *ngIf="!canExplore"
                  [value]="nextExploreTime"
                  color="secondary"
                ></ion-progress-bar>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
