<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-grid
    *ngIf="{ player: player$ | async, equipped: equipped$ | async } as data"
  >
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Inventory ({{ items.length }} / 100)
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ngx-datatable
              class="dark"
              [rows]="items"
              [rowHeight]="64"
              [columnMode]="'force'"
              [sorts]="[{ prop: 'name', dir: 'asc' }]"
            >
              <ngx-datatable-column
                name=""
                [maxWidth]="100"
                [minWidth]="100"
                [sortable]="false"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <app-item-icon [item]="row" size="small"></app-item-icon>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Item"
                [prop]="'name'"
                [cellClass]="'text-wrap-column'"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div><strong>{{ row.name }}</strong></div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Rarity" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <app-item-rarity [item]="row"></app-item-rarity>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Level" [prop]="'levelRequirement'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  Lv. {{ row.levelRequirement || 0 }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Value" [comparator]="valueComparison">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ getValueForItem(row) | number }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Collected"
                [maxWidth]="100"
                [sortable]="false"
                [cellClass]="'center-column icon-column'"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <ion-icon
                    [name]="isDiscovered(row) ? 'checkmark-circle' : 'close-circle'"
                    [color]="isDiscovered(row) ? 'success' : 'danger'"
                  ></ion-icon>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name=""
                [maxWidth]="90"
                [sortable]="false"
                [cellClass]="'center-column'"
              >
                <ng-template
                  let-row="row"
                  let-rowIndex="rowIndex"
                  ngx-datatable-cell-template
                >
                  <ion-button
                    class="icon-only"
                    size="small"
                    color="tertiary"
                    (click)="popover.present($event)"
                  >
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                  </ion-button>

                  <ion-popover
                    #popover
                    [showBackdrop]="false"
                    class="inventory-item-actions"
                  >
                    <ng-template>
                      <ion-content>
                        <ion-list class="action-list">
                          <ion-item
                            class="cursor-pointer"
                            (click)="sellItem(row); popover.dismiss()"
                          >
                            Sell
                          </ion-item>

                          <ion-item
                            class="cursor-pointer"
                            *ngIf="basicEquipTypes.includes(row.type) && canEquipItem(data.player, row) && canEquipArmor(data.player, row)"
                            (click)="equipArmor(row, getEquippedItem(row.type, $any(data.equipped))); popover.dismiss()"
                          >
                            Equip Armor
                          </ion-item>

                          <ion-item
                            class="cursor-pointer"
                            *ngIf="weaponEquipTypes.includes(row.type) && canEquipItem(data.player, row) && canEquipWeapon(data.player, row)"
                            (click)="equipWeapon(row, getEquippedItem('weapon', $any(data.equipped))); popover.dismiss()"
                          >
                            Equip Weapon
                          </ion-item>

                          <ng-container
                            *ngIf="accessoryEquipTypes.includes(row.type) && canEquipItem(data.player, row)"
                          >
                            <ion-item
                              class="cursor-pointer"
                              *ngFor="let slot of [1, 2, 3]"
                              (click)="equipAccessory(row, slot, getEquippedItem('accessory' + slot, $any(data.equipped))); popover.dismiss()"
                            >
                              Equip Accessory (Slot {{ slot }})
                            </ion-item>
                          </ng-container>

                          <ion-item
                            class="cursor-pointer"
                            *ngIf="row.type === 'collectible'"
                            (click)="discoverCollectible(row); popover.dismiss()"
                          >
                            Collect
                            <ion-icon
                              slot="end"
                              [name]="isDiscovered(row) ? 'checkmark-circle' : 'close-circle'"
                              [color]="isDiscovered(row) ? 'success' : 'danger'"
                            ></ion-icon>
                          </ion-item>

                          <ion-item
                            class="cursor-pointer"
                            *ngIf="row.type !== 'collectible'"
                            (click)="discoverEquipment(row); popover.dismiss()"
                          >
                            Collect
                            <ion-icon
                              slot="end"
                              [name]="isDiscovered(row) ? 'checkmark-circle' : 'close-circle'"
                              [color]="isDiscovered(row) ? 'success' : 'danger'"
                            ></ion-icon>
                          </ion-item>
                        </ion-list>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
