<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-segment
              color="tertiary"
              [value]="selectedCategory"
              (ionChange)="selectCategory($event)"
            >
              <ion-segment-button value="collectibles">
                <ion-label>Collectibles</ion-label>
              </ion-segment-button>

              <ion-segment-button value="items">
                <ion-label>Items</ion-label>
              </ion-segment-button>

              <ion-segment-button value="monsters">
                <ion-label>Monsters</ion-label>
              </ion-segment-button>

              <ion-segment-button value="portraits">
                <ion-label>Portraits</ion-label>
              </ion-segment-button>

              <ion-segment-button value="backgrounds">
                <ion-label>Backgrounds</ion-label>
              </ion-segment-button>
            </ion-segment>

            <ng-container [ngSwitch]="selectedCategory">
              <ng-container *ngSwitchCase="'collectibles'">
                <ng-container
                  *ngTemplateOutlet="collectibles; context: { discoveries: discoveries$ | async, showcase: showcase$ | async }"
                ></ng-container>
              </ng-container>

              <ng-container *ngSwitchCase="'items'">
                <ng-container
                  *ngTemplateOutlet="items; context: { discoveries: discoveries$ | async, showcase: showcase$ | async }"
                ></ng-container>
              </ng-container>

              <ng-container *ngSwitchCase="'monsters'">
                <ng-container
                  *ngTemplateOutlet="monsters; context: { discoveries: discoveries$ | async, showcase: showcase$ | async }"
                ></ng-container>
              </ng-container>

              <ng-container *ngSwitchCase="'portraits'">
                <ng-container
                  *ngTemplateOutlet="portraits; context: { discoveries: discoveries$ | async, showcase: showcase$ | async }"
                ></ng-container>
              </ng-container>

              <ng-container *ngSwitchCase="'backgrounds'">
                <ng-container
                  *ngTemplateOutlet="backgrounds; context: { discoveries: discoveries$ | async, showcase: showcase$ | async }"
                ></ng-container>
              </ng-container>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template
  #collectibles
  let-discoveries="discoveries"
  let-showcase="showcase"
>
  <div class="collectibles">
    <ion-row class="unlocked">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-card class="number-card center-title-card" color="secondary">
              <ion-card-header>
                <ion-card-title>Unique</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ unlocked['collectibles'] | number }}
                  </span>
                  <span class="sub-number">
                    / {{ allCollectibles.length | number }}
                  </span>
                </div>
                <div class="number-action">
                  {{ (unlocked['collectibles'] ?? 0) / allCollectibles.length |
                  percent }}
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="tertiary">
              <ion-card-header>
                <ion-card-title>Unique Rewards</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ getUniqueCollectibleClaimNumber() > collectibleUniqueMax
                    ? collectibleUniqueMax : getUniqueCollectibleClaimNumber()
                    }}
                  </span>
                  <span class="sub-number">
                    / {{ collectibleUniqueMax | number }}
                  </span>
                </div>

                <ion-button
                  class="number-action"
                  color="secondary"
                  (click)="claimCollectiblesUnique()"
                  [disabled]="!canClaimUniqueCollectible()"
                >
                  Claim
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="secondary">
              <ion-card-header>
                <ion-card-title>
                  Total

                  <span
                    class="tooltip"
                    [ngxTippy]="'You can collect collectibles multiple times to increase your total collected stat!'"
                  >
                    <app-game-icon
                      icon="global-information"
                      size="small"
                    ></app-game-icon>
                  </span>
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number total">
                  <span class="main-number">
                    {{ totals['collectibles'] | number }}
                  </span>
                </div>
                <div class="number-action"></div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="tertiary">
              <ion-card-header>
                <ion-card-title>Total Rewards</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ getTotalCollectibleClaimNumber() > collectibleTotalMax ?
                    collectibleTotalMax : getTotalCollectibleClaimNumber() }}
                  </span>
                  <span class="sub-number">
                    / {{ collectibleTotalMax | number }}
                  </span>
                </div>

                <ion-button
                  class="number-action"
                  color="secondary"
                  (click)="claimCollectiblesTotal()"
                  [disabled]="!canClaimTotalCollectible()"
                >
                  Claim
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="notice">
      <ion-col>
        You can click any discovered collectible to add it to your showcase!
        Click it again to remove it.
      </ion-col>
    </ion-row>

    <ion-row class="collect-row">
      <ion-col
        class="collect-col"
        *ngFor="let collectible of allCollectibles; trackBy: trackBy"
      >
        <app-item-display
          [class.uncollected]="!discoveries.collectibles?.[collectible.itemId]"
          [class.cursor-pointer]="discoveries.collectibles?.[collectible.itemId]"
          [class.showcased]="showcase?.collectibles?.includes(collectible.itemId)"
          (click)="showcaseCollectible(collectible.itemId)"
          [itemId]="collectible.itemId"
        >
          <ng-container tooltip>
            <div *ngIf="discoveries.collectibles?.[collectible.itemId]">
              <br />
              <em>Found in {{ collectible.location }}</em>
              <br />
              <br />
              <em>{{ collectible.description }}</em>
            </div>

            <div *ngIf="!discoveries.collectibles?.[collectible.itemId]">
              <br />
              <em>Not yet found</em>
            </div>
          </ng-container>
        </app-item-display>
      </ion-col>
    </ion-row>
  </div>
</ng-template>

<ng-template #items let-discoveries="discoveries" let-showcase="showcase">
  <div class="items">
    <ion-row class="unlocked">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-card class="number-card center-title-card" color="secondary">
              <ion-card-header>
                <ion-card-title>Unique</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ unlocked['items'] | number }}
                  </span>
                  <span class="sub-number">
                    / {{ allEquipment.length | number }}
                  </span>
                </div>
                <div class="number-action">
                  {{ (unlocked['items'] ?? 0) / allEquipment.length | percent }}
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="tertiary">
              <ion-card-header>
                <ion-card-title>Unique Rewards</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ getUniqueEquipmentClaimNumber() > equipmentUniqueMax ?
                    equipmentUniqueMax : getUniqueEquipmentClaimNumber() }}
                  </span>
                  <span class="sub-number">
                    / {{ equipmentUniqueMax | number }}
                  </span>
                </div>

                <ion-button
                  class="number-action"
                  color="secondary"
                  (click)="claimEquipmentUnique()"
                  [disabled]="!canClaimUniqueEquipment()"
                >
                  Claim
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="secondary">
              <ion-card-header>
                <ion-card-title>
                  Total

                  <span
                    class="tooltip"
                    [ngxTippy]="'You can collect equipment multiple times to increase your total collected stat!'"
                  >
                    <app-game-icon
                      icon="global-information"
                      size="small"
                    ></app-game-icon>
                  </span>
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number total">
                  <span class="main-number">
                    {{ totals['items'] | number }}
                  </span>
                </div>
                <div class="number-action"></div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="tertiary">
              <ion-card-header>
                <ion-card-title>Total Rewards</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ getTotalEquipmentClaimNumber() > equipmentTotalMax ?
                    equipmentTotalMax : getTotalEquipmentClaimNumber() }}
                  </span>
                  <span class="sub-number">
                    / {{ equipmentTotalMax | number }}
                  </span>
                </div>

                <ion-button
                  class="number-action"
                  color="secondary"
                  (click)="claimEquipmentTotal()"
                  [disabled]="!canClaimTotalEquipment()"
                >
                  Claim
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="notice">
      <ion-col>
        You can click any discovered item to add it to your showcase! Click it
        again to remove it.
      </ion-col>
    </ion-row>

    <ion-row class="collect-row">
      <ion-col
        class="collect-col"
        *ngFor="let item of allEquipment; trackBy: trackBy"
      >
        <app-item-display
          [itemId]="item.itemId"
          [class.uncollected]="!discoveries.items?.[item.itemId]"
          [class.cursor-pointer]="discoveries.items?.[item.itemId]"
          [class.showcased]="showcase?.items?.includes(item.itemId)"
          (click)="showcaseItem(item.itemId)"
        ></app-item-display>
      </ion-col>
    </ion-row>
  </div>
</ng-template>

<ng-template #monsters let-discoveries="discoveries" let-showcase="showcase">
  <div class="items">
    <ion-row class="unlocked">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-card class="number-card center-title-card" color="secondary">
              <ion-card-header>
                <ion-card-title>Unique</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ unlocked['monsters'] | number }}
                  </span>
                  <span class="sub-number">
                    / {{ allMonsters.length | number }}
                  </span>
                </div>
                <div class="number-action">
                  {{ (unlocked['monsters'] ?? 0) / allMonsters.length | percent
                  }}
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="tertiary">
              <ion-card-header>
                <ion-card-title>Unique Rewards</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ getUniqueMonstersClaimNumber() > monstersUniqueMax ?
                    monstersUniqueMax : getUniqueMonstersClaimNumber() }}
                  </span>
                  <span class="sub-number">
                    / {{ monstersUniqueMax | number }}
                  </span>
                </div>

                <ion-button
                  class="number-action"
                  color="secondary"
                  (click)="claimMonstersUnique()"
                  [disabled]="!canClaimUniqueMonsters()"
                >
                  Claim
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="secondary">
              <ion-card-header>
                <ion-card-title>
                  Total

                  <span
                    class="tooltip"
                    [ngxTippy]="'You can kill monsters multiple times to increase your total killed stat!'"
                  >
                    <app-game-icon
                      icon="global-information"
                      size="small"
                    ></app-game-icon>
                  </span>
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ totals['monsters'] | number }}
                  </span>
                </div>
                <div class="number-action"></div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="number-card center-title-card" color="tertiary">
              <ion-card-header>
                <ion-card-title>Total Rewards</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div class="number">
                  <span class="main-number">
                    {{ getTotalMonstersClaimNumber() > monstersTotalMax ?
                    monstersTotalMax : getTotalMonstersClaimNumber() }}
                  </span>
                  <span class="sub-number">
                    / {{ monstersTotalMax | number }}
                  </span>
                </div>

                <ion-button
                  class="number-action"
                  color="secondary"
                  (click)="claimMonstersTotal()"
                  [disabled]="!canClaimTotalMonsters()"
                >
                  Claim
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="collect-row">
      <ion-col
        class="collect-col"
        *ngFor="let monster of allMonsters; trackBy: trackBy"
        [ngxTippy]="tooltip"
      >
        <app-monster-icon
          [monster]="monster"
          [class.uncollected]="!discoveries.monsters?.[monster.itemId]"
        ></app-monster-icon>

        <ng-template #tooltip>
          <strong>{{ monster.name }}</strong>
        </ng-template>
      </ion-col>
    </ion-row>
  </div>
</ng-template>

<ng-template #portraits let-discoveries="discoveries" let-showcase="showcase">
  <div class="portraits">
    <ion-row class="unlocked">
      <ion-col>
        <span class="base">
          {{ unlocked['portraits'] }} / {{ contentService.maxPortraits }}
          unlocked
        </span>

        <span class="percent">
          ({{ (((unlocked['portraits'] ?? 0) / contentService.maxPortraits) *
          100) | number:'1.0-2' }}%)
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="collect-row">
      <ion-col
        class="collect-col"
        *ngFor="let portrait of allPortraits; trackBy: trackBy"
      >
        <ion-avatar [class.uncollected]="!discoveries.portraits?.[portrait]">
          <app-icon spritesheet="portraits" [sprite]="portrait"></app-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </div>
</ng-template>

<ng-template #backgrounds let-discoveries="discoveries" let-showcase="showcase">
  <div class="backgrounds">
    <ion-row class="unlocked">
      <ion-col>
        <span class="base">
          {{ unlocked['backgrounds'] }} / {{ contentService.maxBackgrounds }}
          unlocked
        </span>

        <span class="percent">
          ({{ (((unlocked['backgrounds'] ?? 0) / contentService.maxBackgrounds)
          * 100) | number:'1.0-2' }}%)
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="collect-row">
      <ion-col
        class="collect-col"
        *ngFor="let background of allBackgrounds; trackBy: trackBy"
      >
        <app-background-art
          [class.uncollected]="!discoveries.backgrounds?.[background]"
          [sprite]="background"
        ></app-background-art>
      </ion-col>
    </ion-row>
  </div>
</ng-template>
