
ion-segment {
  margin-bottom: 1em;
}

.collectibles, .items {
  .collect-col {
    min-width: 64px;
  }
}

.backgrounds {
  .collect-col {
    min-width: 128px;
    max-width: 128px;
  }
}

.collect-row {
  flex-wrap: wrap;

  .collect-col {
    margin: 2px;
    max-width: 64px;
  }
}

ion-avatar {
  overflow: hidden;
}

.uncollected {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.2;
}

.showcased {
  outline: 2px solid var(--ion-color-primary);
}

.percent {
  margin-left: 4px;
}

.unlocked {
  .vertical-center {
    display: flex;
    align-items: center;
  }
}

.tooltip {
  position: absolute;
  top: 2px;
  right: 4px;
}

.notice ion-col {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
