<ion-app class="theme-ateoat">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ng-container
            *ngIf="{
            user: user$ | async,
            player: player$ | async,
            playerCoins: playerCoins$ | async,
            playerOats: playerOats$ | async,
          } as data"
          >
            <app-hero
              [background]="data.player?.cosmetics?.background ?? -1"
              [portrait]="data.player?.cosmetics?.portrait ?? 4"
              [level]="data.player?.level ?? 1"
              [job]="data.player?.job ?? 'Generalist'"
              [username]="data.user?.username ?? 'hello'"
              [discriminator]="data.user?.discriminator ?? '0000'"
              [showCurrencies]="true"
              [coins]="data.playerCoins ?? 0"
              [oats]="data.playerOats ?? 0"
            ></app-hero>
          </ng-container>

          <ion-item-divider>Main</ion-item-divider>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <app-game-icon
                slot="start"
                [icon]="'sidebar-' + p.icon"
              ></app-game-icon>

              <ion-label>{{ p.title }}</ion-label>

              <ng-container *ngIf="p.indicator | async as indicator">
                <app-game-icon
                  slot="end"
                  [color]="indicator.color"
                  [icon]="indicator.icon"
                  [ngxTippy]="indicator.tooltip"
                ></app-game-icon>
              </ng-container>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider>Character</ion-item-divider>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of characterPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <app-game-icon
                slot="start"
                [icon]="'sidebar-' + p.icon"
              ></app-game-icon>

              <ion-label>{{ p.title }}</ion-label>

              <ng-container *ngIf="p.indicator | async as indicator">
                <app-game-icon
                  slot="end"
                  [color]="indicator.color"
                  [icon]="indicator.icon"
                  [ngxTippy]="indicator.tooltip"
                ></app-game-icon>
              </ng-container>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
