<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-row>
    <ion-col sizeMd="3">
      <app-card-online-users></app-card-online-users>
    </ion-col>

    <ion-col sizeMd="3">
      <app-card-daily-lottery></app-card-daily-lottery>
    </ion-col>

    <ion-col sizeMd="3">
      <app-card-buyin-lottery></app-card-buyin-lottery>
    </ion-col>
  </ion-row>
</ion-content>
