<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" class="center-container">
        <ion-card
          class="card-with-actions center-title-card"
          *ngIf="!locationInfo"
        >
          <ion-card-header>
            <ion-card-title>Unknown Location</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Your location doesn't seem to have any information. Try traveling to
            a different location.
          </ion-card-content>

          <div class="card-actions">
            <ion-button [routerLink]="['/travel']">Travel</ion-button>
          </div>
        </ion-card>

        <ion-card class="location-card" *ngIf="locationInfo">
          <div class="image-container">
            <app-background-art
              [sprite]="locationInfo.background"
            ></app-background-art>
          </div>

          <ion-card-content>
            <ion-row>
              <ion-col sizeXs="10" offsetXs="1" class="center-container">
                <ion-card
                  class="location-info-card card-with-actions center-title-card"
                >
                  <ion-card-header>
                    <ion-card-title>{{ locationInfo.name }}</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    {{ locationInfo.description }}
                  </ion-card-content>

                  <div class="card-actions">
                    <ion-button [routerLink]="['/travel']">Travel</ion-button>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeXs="12" class="center-container">
        <ion-card class="card-with-actions center-title-card actions-card">
          <ion-card-header>
            <ion-card-title>Town Actions</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item [routerLink]="['/crafting']">
                <ion-icon slot="start" name="construct"></ion-icon>

                <ion-label>
                  <h3>Crafting</h3>
                  <p>Create new items from resources you've found.</p>
                </ion-label>
              </ion-item>

              <ion-item
                class="ion-activatable cursor-pointer"
                (click)="openMarket()"
              >
                <ion-icon slot="start" name="cart"></ion-icon>

                <ion-label>
                  <h3>Market</h3>
                  <p>Buy and sell items with other players.</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
