<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>

    <ng-container *ngIf="fight$ | async; else explore">
      <ion-button color="danger" [routerLink]="['/combat']" fill="solid">
        Fight
        <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </ng-container>

    <ng-template #explore>
      <ion-button color="primary" [routerLink]="['/explore']" fill="solid">
        Explore
        <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </ng-template>
  </ion-buttons>

  <ion-buttons slot="end" *ngIf="notifications$ | async as notifications">
    <ion-button class="notifications" (click)="popover.present($event)">
      <app-game-icon
        slot="icon-only"
        icon="global-notifications"
      ></app-game-icon>

      <ion-badge
        class="number"
        color="secondary"
        *ngIf="unreadNotificationCount(notifications) as count"
      >
        {{ count }}
      </ion-badge>
    </ion-button>
  </ion-buttons>

  <ng-container *ngIf="player$ | async as player">
    <ion-progress-bar
      [ngxTippy]="
        (player.xp | number) +
        ' / ' +
        (nextLevelXp(player.level) | number) +
        ' XP'
      "
      [tippyProps]="{ placement: 'bottom' }"
      color="xp"
      [value]="player.xp / nextLevelXp(player.level)"
    ></ion-progress-bar>
  </ng-container>
</ion-toolbar>

<ion-popover
  #popover
  [showBackdrop]="false"
  class="notification-area"
  keep-contents-mounted="true"
>
  <ng-template>
    <ion-content *ngIf="notifications$ | async as notifications">
      <div class="header">
        <ion-title>Notifications</ion-title>

        <ion-button
          (click)="markAllNotificationsRead()"
          size="small"
          fill="clear"
        >
          Mark all as read
        </ion-button>
      </div>

      <ion-list class="notification-list">
        <ion-item class="notification" *ngIf="notifications.length === 0">
          You have no notifications.
        </ion-item>

        <ion-item
          *ngFor="
            let notification of filterNotifications(notifications);
            trackBy: trackBy
          "
          class="notification"
          [class.unread]="!notification.read"
          (mouseover)="markNotificationRead(notification)"
        >
          <ion-label class="ion-text-wrap">
            <div>{{ notification.text }}</div>
            <ion-note class="timeago">
              {{ notification.createdAt | relativeTime }}
            </ion-note>
          </ion-label>

          <ng-container *ngIf="notification.actions?.length === 1">
            <ion-button
              slot="end"
              *ngIf="notification.actions?.[0] as action"
              (click)="actionsService.doAction(action, notification)"
            >
              {{ action.text }}
            </ion-button>
          </ng-container>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
