
app-avatar, .tiny-background-art {
  position: relative;
  left: -19px;

  min-width: 56px;
  max-height: 64px;
  max-width: 56px;

  margin-right: 0;
}

.tooltip {
  position: absolute;
  top: 2px;
  right: 4px;
}
