<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-header-bar></app-header-bar>
  </ion-header>

  <ion-grid
    *ngIf="{ player: player$ | async, equipment: equipment$ | async } as data"
  >
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-segment
              color="tertiary"
              [value]="view"
              (ionChange)="changeView($event)"
            >
              <ion-segment-button value="stats">
                <ion-label>{{ data.player?.job }} Stats</ion-label>
              </ion-segment-button>

              <ion-segment-button value="abilities">
                <ion-label>Your Abilities</ion-label>
              </ion-segment-button>

              <ion-segment-button value="levels">
                <ion-label>Job Levels</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="view === 'stats'">
      <ion-col sizeSm="4" *ngFor="let stat of stats">
        <ion-card class="number-card center-title-card">
          <ion-card-header>
            <ion-card-title>
              {{ stat.name }}
              <span class="tooltip" [ngxTippy]="stat.tooltip">
                <app-game-icon
                  icon="global-information"
                  size="small"
                ></app-game-icon>
              </span>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div
              class="number"
              *ngIf="calcStat(data.player!, data.equipment!, stat.stat) as value"
            >
              <span class="main-number">{{ getMainNumber(value) }}</span>
              <span class="sub-number">{{ getSubNumber(value) }}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="view === 'abilities'">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Basic Abilities</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list *ngIf="data.player && data.equipment">
              <ion-item
                *ngFor="let ability of getBasicAbilities(data.player, data.equipment)"
              >
                <app-combat-ability [ability]="ability"></app-combat-ability>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Job Abilities</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list *ngIf="data.player && data.equipment">
              <ion-item
                *ngFor="let ability of getJobAbilities(data.player, data.equipment)"
              >
                <app-combat-ability [ability]="ability"></app-combat-ability>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="data.player as player">
      <ion-row *ngIf="view === 'levels'">
        <ion-col
          sizeSm="4"
          *ngFor="let jobLevel of jobLevels(player); trackBy: trackBy"
        >
          <ion-card class="job-card number-card center-title-card">
            <ion-card-header>
              <ion-card-title>{{ jobLevel.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="number">
                <span class="main-number">{{ jobLevel.level }}</span>
              </div>

              <div
                class="xp"
                [ngxTippy]="(jobLevel.xp | number) + ' / ' + (jobLevel.nextXp | number) + ' XP'"
              >
                <div
                  class="current"
                  [style.width]="(jobLevel.xp / jobLevel.nextXp * 100) + '%'"
                ></div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>My Profile</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list *ngIf="data.player?.cosmetics && data.player?.profile">
              <ion-item
                class="cursor-pointer"
                (click)="changePortrait(data.player?.cosmetics?.portrait ?? 4)"
              >
                <app-avatar
                  slot="start"
                  size="small"
                  [padding]="0"
                  [avatar]="data.player?.cosmetics?.portrait ?? 4"
                ></app-avatar>

                <ion-label>Change Avatar</ion-label>
              </ion-item>

              <ion-item
                class="cursor-pointer"
                (click)="changeBackground(data.player?.cosmetics?.background ?? -1)"
              >
                <app-background-art
                  slot="start"
                  class="tiny-background-art"
                  [sprite]="data.player?.cosmetics?.background ?? -1"
                ></app-background-art>

                <ion-label>Change Background</ion-label>
              </ion-item>

              <ion-item
                class="cursor-pointer"
                (click)="changeShortBio(data.player?.profile?.shortBio || '')"
              >
                <app-game-icon
                  slot="start"
                  icon="options-tagline"
                ></app-game-icon>
                <ion-label class="ion-text-wrap">
                  <h2>Tagline</h2>
                  <div>
                    <em>
                      {{ data.player?.profile?.shortBio || '[no tagline set]' }}
                    </em>
                  </div>
                </ion-label>
              </ion-item>

              <ion-item
                class="cursor-pointer"
                (click)="changeLongBio(data.player?.profile?.longBio || '')"
              >
                <app-game-icon slot="start" icon="options-bio"></app-game-icon>
                <ion-label class="ion-text-wrap">
                  <h2>Bio</h2>
                  <div>
                    <em>
                      {{ data.player?.profile?.longBio || '[no bio set]' }}
                    </em>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Miscellaneous</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item
                *ngIf="data.player?.userId"
                class="cursor-pointer"
                [routerLink]="['/profile', data.player?.userId]"
              >
                <app-game-icon
                  slot="start"
                  icon="options-myprofile"
                ></app-game-icon>
                <ion-label>View My Public Profile</ion-label>
              </ion-item>

              <ion-item class="cursor-pointer" [routerLink]="['/options']">
                <app-game-icon
                  slot="start"
                  icon="options-settings"
                ></app-game-icon>
                <ion-label>Change Settings</ion-label>
              </ion-item>

              <ion-item class="cursor-pointer" [routerLink]="['/updates']">
                <app-game-icon
                  slot="start"
                  icon="options-updates"
                ></app-game-icon>
                <ion-label>Game Updates</ion-label>
              </ion-item>

              <ion-item
                class="cursor-pointer"
                href="https://discord.ateoat.com"
                target="_blank"
              >
                <app-game-icon
                  slot="start"
                  icon="external-discord"
                ></app-game-icon>
                <ion-label>Join Discord!</ion-label>
              </ion-item>

              <ion-item class="cursor-pointer" (click)="authService.logout()">
                <app-game-icon
                  slot="start"
                  icon="options-logout"
                ></app-game-icon>
                <ion-label>Logout</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
